@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --breadcrumb-bg-color: #393e46;
  --button-bg-color: #00adb5;
  --button-border-color: #00adb5;
  --button-hover-color: #267478;
  --button-border-hover-color: #267478;
  --button-bg-active-color: #d0f2ee;
  --button-border-active-color: #d0f2ee;
  --button-text-active-color: #2bbac1;
  --icon-color: #00adb5;
  --icon-hover-color: #267478;
  --icon-active-color: #2bbac1;
}

.main > div {
  @apply pt-4 pb-4;
  padding-left: 28px;
  padding-right: 28px;
}

.table-filter {
  @apply flex w-full md:flex-1;
}

input[required],
select[required],
textarea[required] {
  background-color: #fcfbe7;
}

input[disabled] {
  @apply bg-gray-100;
}

.radar-wink-wrapper {
  pointer-events: none;
  cursor: inherit;
}

.radar-wink {
  width: 160px;
  height: 160px;

  background-color: #e91e63;
  border-radius: 160px;
  opacity: 0.5;

  animation-duration: 1.8s;
  animation-name: wink;
  animation-iteration-count: infinite;
}

@keyframes wink {
  from {
    opacity: 0.5;
    transform: scale(0.1);
  }

  to {
    opacity: 0.1;
    transform: scale(1);
  }
}
